body {
  width: 100%;
  height: 100%;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  max-width: 1080px;
}

.header {
  background-color: #000;

  height: 56px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
}

.header__logo {
  font-family: 'Russo One';
  /* 16px = 1em, нам потрібно 20px, 20 / 16 = 1.250 */
  font-size: 1.250em;

  text-transform: uppercase;
  text-decoration: none;

  color: #fff;
}

.header__burger {
  background-image: url('../images/icons/burger.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 24px;
  height: 24px;
}

.nav {
  margin-left: 40px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav__item {}

.nav__link {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1em;

  color: rgba(255, 255, 255, 0.8);

  text-transform: uppercase;

  text-decoration: none;
}

.header__lang {
  margin-left: auto;
}

.btn-lang {
  border: 1px solid #3D3D3D;
  border-radius: 4px;

  height: 45px;

  color: #fff;

  font-size: 1em;
  font-weight: 800;

  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-lang__icon {
  height: 1rem;
  width: 1rem;

  background-image: url('../images/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-phone {
  border-radius: 4px;

  height: 45px;

  color: #000;
  background-color: #fff;

  font-size: 1em;
  font-weight: 800;

  display: flex;
  align-items: center;
  gap: 8px;
}

.header__phone {
  margin-left: 8px;
}

.btn-phone__icon {
  height: 1.25rem;
  width: 1.25rem;

  background-image: url('../images/icons/phone.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sidebar .nav {}

@media only screen and (max-width: 1024px) {

  .header__nav,
  .header__lang,
  .header__phone {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {

  .header__wrapper {
    justify-content: normal;
  }

  .header__nav,
  .header__lang,
  .header__phone {
    display: flex;
  }

  .header__burger {
    display: none;
  }
}